<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Marketplacer - Condor Sport</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/ample-admin-theme/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="assets/ample-admin-theme/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css"
          rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/ample-admin-theme/css/style.css" rel="stylesheet">
    <link href="assets/ample-admin-theme/css/mystyle.css" rel="stylesheet">
</head>