<div class="modal fade" id="modal-detail" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sport Tennis</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/products/tennis.jpeg">
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <label>Provider:</label> Nike
                        </p>
                        <p>
                            <label>Price:</label> $12.000
                        </p>
                        <p>
                            <label>Rankin:</label>
                            <i class="fa fa-star warning-color"></i>
                            <i class="fa fa-star warning-color"></i>
                            <i class="fa fa-star warning-color"></i>
                            <i class="fa fa-star warning-color"></i>
                            <i class="fa fa-star warning-color"></i>
                        </p>
                        <p>
                            <label>Description:</label>
                            Tenis Running Hombre Lite Racer Rebornas.
                        </p>
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="number" min="0" class="form-control" value="0">
                            </div>
                            <div class="col-lg-8">
                                <button type="button" class="btn btn-danger">
                                    <i class="fa fa-cart-plus fa-fw"></i> Add to cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cart" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Their productsr</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="table-to-do">
                    <tbody>
                    <tr>
                        <td>Tenis Running Hombre Lite Racer Rebornas</td>
                        <td width="10%" align="center">1</td>
                        <td width="10%" align="center">$12,000</td>
                        <td align="center" width="5%">
                            <button class="btn btn-danger" onclick="">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><b>TOTAL:</b></td>
                        <td width="10%" align="center">12</td>
                        <td width="10%" align="center">$12,000</td>
                        <td align="center" width="5%">
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>