<div class="modal fade" id="modal-detail" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="pd-title">Sport Tennis</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="pd-img" src="">
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <label>Provider:</label> <span id="pd-provider"></span>
                        </p>
                        <p>
                            <label>Price:</label> <span id="pd-price"></span>
                        </p>
                        <p>
                            <label>Rankin:</label>
                            <span id="pd-rankin"></span>
                        </p>
                        <p>
                            <label>Description:</label>
                            <span id="pd-description"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cart" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Their products</h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="table-cart">
                    <tbody>
                    <tr>
                        <td>Tenis Running Hombre Lite Racer Rebornas</td>
                        <td width="10%" align="center">1</td>
                        <td width="10%" align="center">$12,000</td>
                        <td align="center" width="5%">
                            <button class="btn btn-danger" onclick="">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td align="right"><b>TOTAL:</b></td>
                        <td width="10%" align="center">12</td>
                        <td width="10%" align="center">$12,000</td>
                        <td align="center" width="5%">
                            &nbsp;
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>