<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Products</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        <button class="btn btn-danger pull-right m-l-20" id="button-see-products" onclick="Api.Cart.showCart()">
            <i class="fa fa-cart-plus fa-fw"></i> <span id="bsp-quantity"></span> - See products
        </button>
        <ol class="breadcrumb">
            <li>
                <a href="#">Their products</a>
            </li>
        </ol>
    </div>
</div>