
{{> headadmin }}

<body class="fix-header">
<div id="wrapper">

    {{> nav }}
    {{> leftsidebar }}

    <div id="page-wrapper">
        <div class="container-fluid">

            {{> theirproducts }}

            <div class="row" id="product-list">
            </div>
        </div>
    </div>

    {{> modals }}
</div>

{{> scriptsadmin }}

<script src="assets/js/app/category.js"></script>
<script src="assets/js/app/product.js"></script>
<script src="assets/js/app/cart.js"></script>
<script>
    Api.securityLogin();
    Api.loadData();
    Api.Category.loadDataLeftSideBar();
    Api.Product.filterAllProducts();
    Api.Cart.loadData();
</script>
{{> footer }}
